{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="page-h1">All Posts</h1>
    <div id="post-form-container">

        {% if user.is_authenticated %}
            <form id="post-form">
                <div class="form-group post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" id="post-submit">
                </div>
            </form>

            <h1>Posts Here</h1> 
            <div id="all-post-container">

                    <!-- <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div> -->
            </div>
        {% else %}
            <h2>Please log into create posts!</h2>
            <h1>Posts Here</h1> 
            <div id="all-post-container">
                
            </div>
        {% endif %}        
    </div>


{% endblock %}

{% block script %}
    {{ request.user.username|json_script:"user_id" }}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}