{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 class="page-h1">All Posts</h1>
    <div id="post-form-container">

        {% if user.is_authenticated %}
            <form id="post-form">
                <div class="form-group post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" id="post-submit">
                </div>
            </form>

            <h1>Posts Here</h1> 
            <!-- JS CREATED POST LIST HERE -->
            <!-- <div id="all-post-container">  -->


            <!-- </div> -->

            <!-- DJANGO CREATED POST LIST INCLUDING PAGINATION -->
            <div class="pagination-body">
                {% for post in page_obj.object_list %}
                    <div class="post-item" id="post-body {{ post.id }}">
                        <a href="profile/{{ post.user }}">{{ post.user }}</a>
                        <div class="post-body" id="post {{ post.id }}">{{ post.body }}</div>
                        <div>{{ post.timestamp }}</div>
                        <!-- Put edit button here if all else fails -->
                        {% if request.user == post.user %}
                            <button id="{{ post.id }}" class="edit-button" value="Edit" onClick="edit_post(this.id)">Edit</button>
                        {% endif %}
                    </div>
                {% endfor %}

                    <!-- PAGINATION USING DJANGO -->
                <div class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'all' %}?page={{ page_obj.previous_page_number }}">Previous Page</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'all' %}?page={{ page_obj.next_page_number }}">Next Page</a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h2>Please log into create posts!</h2>
            <h1>Posts Here</h1> 
            <div id="all-post-container">
                
            </div>
        {% endif %}        
    </div>


{% endblock %}

{% block script %}
    {{ request.user.username|json_script:"user_id" }}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}