{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="profile-container">
        <div id="profile-info">
            <h3>My profile</h3>
            <form action="" method="post">
                {% if current_user != profile_username %}
                    {% csrf_token %}
                    {% if watching == True %}
                        <input type="submit" value="Unfollow" class="input-follow">
                        <!-- <button class="follow-button" onclick=follow()>Unfollow User</button> -->
                    {% else %}
                        <input type="submit" value="Follow" class="input-follow">
                        <!-- <button class="follow-button" onclick=follow()>Follow User</button> -->
                    {% endif %}
                {% else %}
                    {{ empty }}
                {% endif %}
            </form>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

        <div id="profile-post-container">
            {% if current_user == profile_username%}
                <div id="profile-post-form-container">
                    <form id="post-form">
                        <div class="form-group post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-primary" id="post-submit">
                        </div>
                    </form>
                </div>
            {% else %}
                {{ empty }}
            {% endif %}
            <!-- <div id="all-post-container">

            </div> -->

            <!-- PAGINATION FROM HERE -->
            <div class="pagination-body">
                {% for post in page_obj.object_list %}
                    <div class="post-item">

                        <a href="profile/{{ post.user }}">{{ post.user }}</a>
                        <div class="post-body">{{ post.body }} {{ post.timestamp }}</div>
                        {% if user.is_authenticated %}
                            <button class="edit-button" value="Edit">Edit</button>
                        {% endif %}
                    </div>
                {% endfor %}

                    <!-- PAGINATION USING DJANGO -->
                <div class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'all' %}?page={{ page_obj.previous_page_number }}">Previous Page</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="{% url 'all' %}?page={{ page_obj.next_page_number }}">Next Page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ request.user.username|json_script:"user_id" }}
    <script src="{% static 'network/scripts.js' %}"></script>
{% endblock %}